/****************************************/
/*USER INFO*/
/****************************************/
.user-img{
    height:15rem;
    width:15rem;

}
/****************************************/
/*MY TRADE*/
/****************************************/
.trade-img{
    height:6rem;
    width:6rem;

}

th, td {
    text-align: left;
    vertical-align: middle;
}

/****************************************/
/*LOTTERY*/
.lottery-intro{
    font-size:2.4rem;
    color:blueviolet;
    font-weight: 500;
}
.lottery-img{
    width:15rem;
    height:15rem;
    border-radius: 50%;
}
/****************************************/
