/****************************************/
/*HEADER*/
/****************************************/
.header{
    background-image: url(../images/header-background.jpg);
    background-size: contain;
    background-position: center;
    height:48rem;
    color:white;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 6rem 0; 
}

.header-btn{
    border:1px solid #fff;
    color:white;
    max-width: max-content;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 3rem;
    display:inline-block;
    align-items: center;
    margin:2rem;
    text-decoration: none;
}
.header-btn:hover{
    background-color: #fff;
    color:black;
}


/****************************************/
/*INTROSECTION*/
/****************************************/
.large-title{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.setup-title {
    font-size: 2rem;
    text-align: center;  
}

.intro-img{
    height:3rem;
    width:3rem; 
}

.intro-description{
    font-size: 1.3rem;
    color:grey;
}

/****************************************/
/*LIVE AUCTION SECTION*/
/****************************************/
.sub-title{
    font-size: 3rem;
}

.price {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.creator {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.auction-text {
    font-size: 1.2rem;
}

/* Styles for carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-size: 60%;
}


/************************************/
/* TOP SELLER SECTION */
/************************************/
.top-seller-section {
    background-color: #f8f9fa;
    padding: 5rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.seller-card {
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-color: #fff;
}

.seller-card:hover {
    box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.seller-img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border: 0.3rem solid #fff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

/* Responsive Settings */
@media (max-width: 768px) {
    .seller-img {
        width: 5rem;
        height: 5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
}
