.bg-change {
    background: linear-gradient(-45deg, #6a82fb, #da22ff, #6a82fb, #da22ff);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

}

.bg-change::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/static/images/bg-shadow.png') no-repeat center center / cover;
    opacity: 0.2; 
    z-index: -2;
}
   
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh; 
    background-color: transparent;
    z-index: 1; 
}

#login-container-bg {
    background-color: transparent !important; 
}
#register-container-bg{
    background-color: transparent !important; 
}

.login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
    width: 50rem; 
    min-width: 30rem;
    margin: auto;
}

.login-form h2 {
    font-size: 3rem;
}
input[type="email"], input[type="password"], .form-label {
    font-size: 1.3rem; 
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0.1rem solid #ccc;
    border-radius: o.4rem;
}
input[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #6a82fb;
    border: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="submit"] {
    font-size: 1.4rem; 
}

input[type="submit"]:hover {
    background-color: #5a72db;
}

.form-check-label {
    font-size: 1.3rem;
}

.form-check-input {
    transform: scale(1.3); 
    margin-right: 0.5rem; 
    vertical-align: middle; 
}

.psw, .psw a, .sign_up, .sign_up a {
    font-size: 1.3rem;
}

.form-footer-links {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 0;
}
