/****************************************/
/*COMMON STYLES CAN BE USED IN WEBPAGES*/
/****************************************/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
     
  }
  
  html {
    /*default font-size 16px,set font-size to 10px which is 10/16=62.5%,use percentage of user's browser font-size*/
      font-size: 62.5%;
  
  }
  
  html,body,a,h1,h2,h3,h4,h5,h6,p,td,li {
    font-family: "Rubik",sans-serif
  }

  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }

  .logo{
    height: 6.4rem;
    padding:1.8rem;
  }

  /* Navigation */
.navbar {
    padding: 12px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 12px;
    margin-left: 10px;
}

/* Search Bar */
.form-control {
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 5px;
}

/* Fragments Container */
.fragments-container {
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;
}

.fragments-container h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/************************************/
/* my_fragments */
/************************************/

/* Fragment Card */
.fragment-card {
    cursor: pointer;
    transition: transform 0.3s;
}



