/****************************************/
/*COMMON STYLES CAN BE USED IN WEBPAGES*/
/****************************************/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
/*default font-size 16px,set font-size to 10px which is 10/16=62.5%,use percentage of user's browser font-size*/
    font-size: 62.5%;

}
  
html,body,a,h1,h2,h3,h4,h5,h6,p,td,li {
font-family: "Rubik",sans-serif
}


.logo{
height: 6.4rem;
padding:1.8rem;
}


/* Navigation */
.navbar {
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.6rem;
    margin-left: 1rem;
}

/* Search Bar */
.form-control {
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 5px;
}

/* Fragments Container */
#fragments-container {
    max-height: 500px; 
    overflow-y: auto; 
    padding-right: 10px; 
}

#fragments-container .custom-card {
    max-width: 250px; 
    height: auto; 
    margin: 0 auto; 
}

#fragments-container .card-img-top {
    max-height: 150px;
    object-fit: cover;
}


#fragments-container .btn {
    margin-top: 4px; 
}

/************************************/
/* marketplace */
/************************************/

.section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 50px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}

.section-content {
    padding: 15px;
    border-radius: 8px;
    overflow: hidden; 
}

#my-fragments-section {
    background-color: #f0f0f0; 
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    height: 20%;
    display: flex;
    align-items: center;
    padding: 5px;
}

/* footer */
.footer-custom {
    background-color: #f8f9fa; 
    text-align: left; 
    padding-top: 1.5rem;   
}

.footer-custom .container {
    margin-bottom: 1rem;
}


.footer-custom a {
    color: #000; 
    text-decoration: none; 
}


.footer-custom a:hover {
    text-decoration: underline; 
}

.contact-info {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.footer-bottom {
    background-color: #f0f0f0; 
    text-align: center;
    padding: 1rem 0;
}

