<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Reused CSS Link -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Dashboard CSS Link -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.bootcss.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS Link for Lottery Modal-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Icon Link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/raffle.js') }}"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ps-5" href="{{ url_for('index') }}"><img class="logo" alt="nft-logo" src="{{ url_for('static', filename='images/logo.png') }}">Virtual NFT Market</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('marketplace') }}"><b>Marketplace</b></a> 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('leaderboard') }}"><b>Leader Board</b></a>
                    </li>
                      
                </ul>
            </div>
        </div>
    </nav>
    
    <h1 class="mt-5 mb-5">Dashboard</h1>
    <!-- User info -->
    <div class="info-head mb-5">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="mb-3">
                <img src="{{ url_for('static', filename='images/seller8.png') }}" class="user-img d-block">
            </div>
        </div>
        <h3 class="text-center">Hello {{ current_user.username }},welcome to dashboard!</h3>
        <h4 class="text-center">Balance:{{ '%.2f'|format(current_user.balance) }} ETH</h4>
        <!-- Logout Button -->
        <div class="d-flex align-items-center justify-content-center mb-3">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#logoutModal">
                Logout
            </button>
        </div>
        <!-- Logout Modal -->
        <div class="modal fade col-8" id="logoutModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Are you sure you want to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- echo flash message -->
        <div class="container col-8 text-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>     
    </div>
    <div class="container"> 
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#my-trade">My Trade</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#my-fragments">My Fragments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#my-collection">My Collection</a>
            </li>
        </ul>
        <!-- nav tab content -->
        <div class="tab-content">
            <!-- my trade -->
            <div id="my-trade" class="container tab-pane active"><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Images</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Seller</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- my fragments -->
            <div id="my-fragments" class="container tab-pane fade"><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Images</th>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fragment in current_user.user_fragments %}
                        <tr><td><img class="trade-img" src="{{ url_for('static', filename=fragment.path.split('static/')[-1])}}"></td>
                            <td>{{ fragment.id }}</td>
                            <td>{{ fragment.path.split('static/outputs/')[-1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- my collection -->
            <div id="my-collection" class="container tab-pane fade"><br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div> 
        </div>
    </div>
    
    <!-- my fragments -->
    <div class="container"><br>
        <h3>My Fragments</h3>
        <div class="row mt-5 mb-5">
            <div class="col-sm-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/fox.jpg') }}" class="card-img-top" alt="cat nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Emma R.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>9.2 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-danger">Sale</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/tiger.jpg') }}" class="card-img-top" alt="tiger nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Emma R.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>9.2 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-danger">Sale</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/octopus.jpg') }}" class="card-img-top" alt="panda nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Emma R.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>9.2 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-danger">Sale</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/monky.jpg') }}" class="card-img-top" alt="monky nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Noah T.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>13.2 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-danger">Sale</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
    <!-- my collection -->
    <div class="container"><br>
        <h3>My Collection</h3>
        <div class="row mt-5 mb-5">
            <div class="col-sm-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/cat.jpg') }}" class="card-img-top" alt="cat nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Emma R.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>9.2 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-secondary">Unlike</button>
                            <button type="button" class="btn btn-danger">Buy</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/tiger.jpg') }}" class="card-img-top" alt="tiger nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Liam S.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>18.6 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-secondary">Unlike</button>
                            <button type="button" class="btn btn-danger">Buy</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/frog.jpg') }}" class="card-img-top" alt="panda nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Noah T.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>8.5 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-secondary">Unlike</button>
                            <button type="button" class="btn btn-danger">Buy</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/monky.jpg') }}" class="card-img-top" alt="monky nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Seller</small><br>
                            <p>Noah T.</p>
                        </span>
                        <span>
                            <small>Price</small><br>
                            <p>13.2 ETH</p>
                        </span>
                        <span>
                            <button type="button" class="btn btn-secondary">Unlike</button>
                            <button type="button" class="btn btn-danger">Buy</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Lottery -->
    <div class="container mb-5">
        <h2 class="mb-5">Lottery</h2>
        <div class="row">
            <div class="col-sm-6 d-flex align-items-center justify-content-center lottery-intro">
                <p class="lottery-intro">Want to collect some rare fragments?<br>
                    Spend 10 ETH each time to participate in our lottery!<br> 
                    Collect a complete set of fragments to redeem rewards! <br>
                    Click on the image on the right to join the lottery now!</p>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-center">
                <img src="{{ url_for('static', filename='images/lottery-img.png') }}" alt="Open lottery modal" class="btn lottery-img" data-bs-toggle="modal" data-bs-target="#lottery-modal">
            </div>

            <button type="button" id="raffleButton" class="btn btn-primary">Try Your Luck!</button>
            <!-- Modal box -->
            <div class="modal" id="raffleModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Head -->
                        <div class="modal-header">
                            <h4 class="modal-title">Congratulations!</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <!-- Content -->
                        <div class="modal-body">
                            <!-- Dynamically insert the image and split name -->
                            <p>You've won a piece!</p>
                            <img id="winningSplitImage" src="" alt="Winning Split" class="img-fluid"> 
                            <p id="winningSplitName"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 
    <footer class="footer bg-light d-flex justify-content-center align-items-center flex-column">
        <h3><img class="logo" alt="nft-logo" src="{{ url_for('static', filename='images/logo.png') }}">Virtual NFT Market</a></h3>
        <h4>Contact Us</h4>
        <div class="social-icons mt-3 mb-3">
            <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
            <a href="https://linkedin.com"><i class="bi bi-linkedin"></i></a>
        </div>
        <p class="mb-5">Contact Address: 35 Stirling Highway Perth WA 6009 Australia</p>
    </footer> 
</body>
</html>
