<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual NFT Marketplace - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.bootcss.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Reused CSS Link -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Custom index CSS Link -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <!-- Custom google font Link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ps-5" href="{{ url_for('index') }}"><img class="logo" alt="nft-logo" src="{{ url_for('static', filename='images/logo.png') }}">Virtual NFT Market</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('marketplace') }}"><b>Marketplace</b></a> 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('leaderboard') }}"><b>Leader Board</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}"><b>Log In</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}"><b>Sign Up</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <h1>Welcome to the Virtual NFT Marketplace</h1>
            <p>A platform where you can trade and collect virtual NFT fragments</p>
            <div>
                <a href="{{ url_for('marketplace') }}" class="header-btn">Explore</a>
                <a href="{{ url_for('dashboard') }}" class="header-btn">Create</a>
            </div>
       
    </header>
    <div class="intro">
        <h2 class="mt-5 mb-5">How It Works</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 mb-5">
                    <img class="intro-img mb-3 mx-auto d-block" src="{{ url_for('static', filename='images/intro-1.png') }}">
                    <h5><b>Set Up Your Account</b></h5>
                    <hr>
                    <p class="intro-description">Once you've set up your account,you can get certain amount of balance to start trading.</p>
                </div>
                <div class="col-sm-3 mb-5">
                    <img class="intro-img mb-3 mx-auto d-block"  src="{{ url_for('static', filename='images/intro-2.png') }}">
                    <h5><b>Create Your Collection</b></h5>
                    <hr>
                    <p class="intro-description">Click Create and set up your collection.Add social links,a description,profile & banner images,and set a secondary sales fee.</p>
                </div>
                <div class="col-sm-3 mb-5">
                    <img class="intro-img mb-3 mx-auto d-block"  src="{{ url_for('static', filename='images/intro-3.png') }}">
                    <h5><b>Add Your NFTs</b></h5>
                    <hr>
                    <p class="intro-description">Upload your work (image,video,audio,or 3D art).Add a title and description,and customize your NFTs with properties,stats.</p>
                </div>
                <div class="col-sm-3 mb-5">
                    <img class="intro-img mb-3 mx-auto d-block"  src="{{ url_for('static', filename='images/intro-4.png') }}">
                    <h5><b>List Them For Sale</b></h5>
                    <hr>
                    <p class="intro-description">Choose between auctions,fixed-price listings,and declining-price listings.You choose how you want to sell your NFTs!.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- Live Auction Carousel -->
<div class="container mt-5 mb-5">
    <h2 class="mt-5 mb-5"><b>Live Auctions</b></h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel items -->
        <div id="carousel-items" class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row">
                                <img src="{{ url_for('static', filename='images/cat.jpg') }}" class="d-block w-100  col-sm-4 mb-2" alt="cat nft">
                                <h5>NFT Cat</h5>
                                <img src="#" class="creator-img col-sm-4">
                                <span class="col-sm-4">
                                    <small>Creator</small><br>
                                    <p>name</p>
                                </span>
                                <span class="col-sm-4">
                                    <small>Current Bid</small><br>
                                    <p>price</p>

                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img src="{{ url_for('static', filename='images/dragon.jpg') }}" class="d-block w-100" alt="dragon nft">
                        </div>
                        <div class="col-sm-3">
                            <img src="{{ url_for('static', filename='images/tiger.jpg') }}" class="d-block w-100" alt="tiger nft">
                        </div>
                        <div class="col-sm-3">
                            <img src="{{ url_for('static', filename='images/panda.jpg') }}" class="d-block w-100" alt="panda nft">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!-- Indicators -->
        <ol class="carousel-indicators mt-3">
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="3"></li>
        </ol>
    </div>
</div>


    <!-- Bootstrap JavaScript Link -->
    <script src="https://cdn.bootcss.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
