<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual NFT Marketplace - Marketplace</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Reused CSS Link -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Marketplace CSS Link -->
    <link href="{{ url_for('static', filename='css/marketplace.css') }}" rel="stylesheet">
    <!-- navbar JS Link -->
    <script src="{{ url_for('static', filename='js/marketplace.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ps-5" href="{{ url_for('index') }}"><img class="logo" alt="nft-logo" src="{{ url_for('static', filename='images/logo.png') }}">Virtual NFT Market</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('marketplace') }}"><b>Marketplace</b></a>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}"><b>Dashboard</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><b>Logout</b></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}"><b>Log In</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}"><b>Sign Up</b></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Marketplace intro -->
    <div class="market-intro-container mb-5">
        <div class="market-intro">
            <h1 class="intro-text">We are platform for everyone</h1>
        </div>
    </div>

    <!-- User join container -->
    <div class="user-container d-flex align-items-center justify-content-center">
        <div class="user-img d-flex">
            <img src="{{ url_for('static', filename='images/seller1.png') }}"  alt="user-image">
            <img src="{{ url_for('static', filename='images/seller2.png') }}"  alt="user-image">
            <img src="{{ url_for('static', filename='images/seller3.png') }}"  alt="user-image">
            <img src="{{ url_for('static', filename='images/seller4.png') }}"  alt="user-image">
            <img src="{{ url_for('static', filename='images/seller5.png') }}"  alt="user-image">
            <img src="{{ url_for('static', filename='images/seller6.png') }}"  alt="user-image">
        </div>
        <p class="user-text"><span>10000+</span> Users have joined!</p>
    </div>

   <!-- User review container -->
    <div class="review-container">
        <div class="review-img">
            <img src="{{ url_for('static', filename='images/market-img2.png') }}"  alt="nft image" class="market-img2">
        </div>
        <div class="review r1">Easy to sign up and easy to operate.</div>
        <div class="review r2">Many attractive collections!</div>
        <div class="review r3">A good way to entertainment!</div>
    </div>
    <!-- Live Auction Carousel -->
<div class="container mt-5 mb-5">
    <h2 class="mt-5 mb-5 text-center"><b>Live Auctions Of NFT</b></h2>
    <div id="liveAuctionCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/cat.jpg') }}" class="card-img-top" alt="cat nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Emma R.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>9.2 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/tiger.jpg') }}" class="card-img-top" alt="tiger nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Liam S.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>18.6 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/panda.jpg') }}" class="card-img-top" alt="panda nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Noah T.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>8.5 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/monky.jpg') }}" class="card-img-top" alt="monky nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Noah T.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>13.2 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/fox.jpg') }}" class="card-img-top" alt="fox nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Olivia W.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>21.6 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/octopus.jpg') }}" class="card-img-top" alt="nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Ryan Z.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>53.2 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/owl.jpg') }}" class="card-img-top" alt="owl nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>David L.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>24.2 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/frog.jpg') }}" class="card-img-top" alt="frog nft">
                            <div class="card-body d-flex justify-content-between">
                                <span>
                                    <small>Creator</small><br>
                                    <p>Eva D.</p>
                                </span>
                                <span>
                                    <small>Current Bid</small><br>
                                    <p>7.8 ETH</p>
                                </span>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#liveAuctionCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#liveAuctionCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
   
    <!-- Available Fragments -->
    <h1 class="my-5 text-center">Fragments On Sale</h1>
     <!-- Search use AJAX if possible -->
    <div class="search-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Fragment buttons block -->
    <div class="fragments-btn-container">
        <div class="fragment-buttons d-flex">
            <div class="btn btn-success frag-btn active" onclick="showContent('all-fragments')">All Fragments</div>
        </div>
    <!-- All Fregments Section  -->
    <div class="btn-content active" id="all-fragments">
        <!-- Grab available fragments from the database -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for fragment in available_fragments %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename=fragment.image) }}" class="card-img-top" alt="{{ fragment.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ fragment.name }}</h5>
                        <p class="card-text">Price: {{ fragment.price }} ETH</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- NFT cards  -->
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/cat.jpg') }}" class="card-img-top" alt="cat nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Creator</small><br>
                            <p>Emma R.</p>
                        </span>
                        <span>
                            <small>Current Bid</small><br>
                            <p>9.2 ETH</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/tiger.jpg') }}" class="card-img-top" alt="tiger nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Creator</small><br>
                            <p>Liam S.</p>
                        </span>
                        <span>
                            <small>Current Bid</small><br>
                            <p>18.6 ETH</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/panda.jpg') }}" class="card-img-top" alt="panda nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Creator</small><br>
                            <p>Noah T.</p>
                        </span>
                        <span>
                            <small>Current Bid</small><br>
                            <p>8.5 ETH</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/monky.jpg') }}" class="card-img-top" alt="monky nft">
                    <div class="card-body d-flex justify-content-between">
                        <span>
                            <small>Creator</small><br>
                            <p>Noah T.</p>
                        </span>
                        <span>
                            <small>Current Bid</small><br>
                            <p>13.2 ETH</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <h2>test only</h2>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    </div>
    
     <!-- FAQ -->
    <div class="collap-container">
        <h2 class="FAQ">Frequently Asked Questions</h2>
        <button type="button" class="collap-btn bg-light">What Exactly are NFTs?</button>
        <div class="collap-content">
            <p>Non-fungible Tokens are digital valuables that can be purchased and sold utilizing Blockchain technology on an online marketplace. In terms of data, NFTs can be anything. Images, videos, audio, text, and other forms of creative media are all acceptable. Each NFT is unique, with proven ownership, because it is stored on the blockchain.</p>
        </div>
        <button type="button" class="collap-btn bg-light">How to Collect NFT Fragments?</button>
        <div class="collap-content">
        <p>You can consume 10 ETH each time to attend lottery on dashboard or buy fragments from marketplace.</p>
        </div>
        <button type="button" class="collap-btn bg-light">How to Redeem NFTs?</button>
        <div class="collap-content">
        <p>Once you collect a set of fragments, you can redeem them on Marketplace page, choose the NFT you would like to redeem. Then the bonus value for successfully obtaining the NFT will add into your account balance directly</p>
        </div>

        

    </div>

    <!-- Join our community-->
    <div class="join-container d-block text-center">
        <h1 class="py-2">Join Our Community</h1>
        <a class="btn btn-primary py-2" href="{{ url_for('register') }}">Get Started</a>
    </div>

    
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Balance</h5>
                    <p>
                        Balance offers a platform to trade and collect virtual NFTs. We are dedicated to providing a secure and engaging environment for our users.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{ url_for('about') }}" class="text-dark">About Us</a>
                        </li>
                        <li>
                            <a href="{{ url_for('terms') }}" class="text-dark">Terms of Service</a>
                        </li>
                        <li>
                            <a href="{{ url_for('privacy') }}" class="text-dark">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Twitter</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: #f0f0f0;">
            © 2024 Balance, Inc. All rights reserved.
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.bootcss.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
