<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Split Image</title>
    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.bootcss.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Reused CSS Link -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Custom index CSS Link -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <!-- Custom google font Link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ps-5" href="{{ url_for('pages.index') }}"><img class="logo" alt="nft-logo" src="{{ url_for('static', filename='images/logo.png') }}">Virtual NFT Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('pages.index') }}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pages.marketplace') }}"><b>Marketplace</b></a>
                </li>
                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}"><b>Log In</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}"><b>Sign Up</b></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('pages.dashboard') }}"><b>Dashboard</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}"><b>Log Out</b></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>


  <div class="container mt-5">
    <h1 class="text-center mb-4">Upload Image for Splitting</h1>
    <!-- Echo flash messages -->
    <div class="container col-md-8 text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
    <br>
    <!-- Form Content -->
    <div class="container col-8">
      <form action="{{ url_for('raffle.upload') }}" method="post" enctype="multipart/form-data" class="mb-3">
        <div class="form-group">
            <label for="file">Choose an image file:</label>
            <input type="file" id="file" name="file" accept="image/png, image/jpeg" class="form-control-file">
        </div>
        <br>
        <div class="form-group">
            <label for="bonus">Set Bonus:</label>
            <input type="number" id="bonus" name="bonus" class="form-control" min="0" max="500" step="10" value="50">
        </div>
        <br>
        <div class="form-group">
            <label for="num_parts">Split into:</label>
            <select id="num_parts" name="num_parts" class="form-control">
                <option value="4">4 Parts</option>
                <option value="6">6 Parts</option>
                <option value="9">9 Parts</option>
            </select>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
          <button type="submit" class="btn btn-primary col-4">Upload and Split</button>
        </div>
      </form>
    </div>
    
  </div>


  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


